In [1]:
import os
import json
import pandas as pd
import mysql.connector

from pickleshare import PickleShareDB
import streamlit as st
from streamlit_option_menu import option_menu

In [2]:
#agg_insurance

path= "C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/aggregated/insurance/country/india/state/"

agg_insur_list= os.listdir(path)

columns1= {"States":[], "Years":[], "Quarter":[], "Insurance_type":[], "Transaction_count":[],"Transaction_amount":[] }

for state in agg_insur_list:
    cur_states =path+state+"/"
    agg_year_list = os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_years = cur_states+year+"/"
        agg_file_list = os.listdir(cur_years)

        for file in agg_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            A = json.load(data)

            for i in A["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns1["Insurance_type"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))


aggre_insurance = pd.DataFrame(columns1)
aggre_insurance['Years']=aggre_insurance['Years'].astype(int)

aggre_insurance["States"] = aggre_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_insurance["States"] = aggre_insurance["States"].str.replace("-"," ")
aggre_insurance["States"] = aggre_insurance["States"].str.title()
aggre_insurance['States'] = aggre_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [3]:
#agg_Trans
path1="C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list=os.listdir(path1)

In [4]:
columns2={'States':[],'Years':[],'Quarter':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}
for state in agg_trans_list:
    cur_states=path1+state+"/"
    agg_year_list=os.listdir(cur_states)

    for year in agg_year_list:
        cur_year=cur_states+year+'/'
        agg_file_list=os.listdir(cur_year)

        for file in agg_file_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
        
            B=json.load(data)

            for i in B['data']['transactionData']:
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                columns2['Transaction_type'].append(name)
                columns2['Transaction_count'].append(count)
                columns2['Transaction_amount'].append(amount)
                columns2['States'].append(state)
                columns2['Years'].append(year)
                columns2['Quarter'].append(int(file.strip('.json')))


agg_transaction=pd.DataFrame(columns2)

agg_transaction['Years']=agg_transaction['Years'].astype(int)

agg_transaction["States"] = agg_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
agg_transaction["States"] = agg_transaction["States"].str.replace("-"," ")
agg_transaction["States"] = agg_transaction["States"].str.title()
agg_transaction['States'] = agg_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [5]:
#agg_User

path2="C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user_list=os.listdir(path2)

columns3={"States":[], "Years":[], "Quarter":[], "Brands":[],"Transaction_count":[], "Percentage":[]}

for state in agg_user_list:
    cur_states=path2+state+"/"
    agg_year_list=os.listdir(cur_states)

    for year in agg_year_list:
        cur_year=cur_states+year+'/'
        agg_file_list=os.listdir(cur_year)

        for file in agg_file_list:
            cur_file=cur_year + file
            data=open(cur_file,"r")
        
            C=json.load(data)

            try:

                for i in C["data"]["usersByDevice"]:
                    brand = i["brand"]
                    count = i["count"]
                    percentage = i["percentage"]
                    columns3["Brands"].append(brand)
                    columns3["Transaction_count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["States"].append(state)
                    columns3["Years"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json")))
            
            except:
                pass

aggre_user = pd.DataFrame(columns3)

aggre_user['Years']=aggre_user['Years'].astype(int)

aggre_user["States"] = aggre_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_user["States"] = aggre_user["States"].str.replace("-"," ")
aggre_user["States"] = aggre_user["States"].str.title()
aggre_user['States'] = aggre_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [6]:
#map_insurance

path3= "C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/map/insurance/hover/country/india/state/"

map_insur_list= os.listdir(path3)

columns4= {"States":[], "Years":[], "Quarter":[], "Districts":[], "Transaction_count":[],"Transaction_amount":[] }

for state in map_insur_list:
    curs_states =path3+state+ "/"
    map_year_list = os.listdir(curs_states)
    
    for year in map_year_list:
        curs_years = curs_states+year+"/"
        map_file_list = os.listdir(curs_years)

        for file in map_file_list:
            curs_files = curs_years+file
            data = open(curs_files,"r")
            E = json.load(data)


            for i in E["data"]["hoverDataList"]:
                name = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns4["Districts"].append(name)
                columns4["Transaction_count"].append(count)
                columns4["Transaction_amount"].append(amount)
                columns4["States"].append(state)
                columns4["Years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))


map_insurance = pd.DataFrame(columns4)

map_insurance["States"] = map_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance["States"] = map_insurance["States"].str.replace("-"," ")
map_insurance["States"] = map_insurance["States"].str.title()
map_insurance['States'] = map_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [7]:
# map_transaction

path4 = "C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list = os.listdir(path4)

columns5 = {"States":[], "Years":[], "Quarter":[],"District":[], "Transaction_count":[],"Transaction_amount":[]}

for state in map_tran_list:
    cur_states = path3+state+"/"
    map_year_list = os.listdir(cur_states)
    
    for year in map_year_list:
        cur_years = cur_states+year+"/"
        map_file_list = os.listdir(cur_years)
        
        for file in map_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            F = json.load(data)

            for i in F['data']["hoverDataList"]:
                name = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns5["District"].append(name)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["States"].append(state)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))

map_transaction = pd.DataFrame(columns5)

map_transaction["States"] = map_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction["States"] = map_transaction["States"].str.replace("-"," ")
map_transaction["States"] = map_transaction["States"].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [8]:
#map_user
path5 = "C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path5)

columns6 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}

for state in map_user_list:
    cur_states = path5+state+"/"
    map_year_list = os.listdir(cur_states)
    
    for year in map_year_list:
        cur_years = cur_states+year+"/"
        map_file_list = os.listdir(cur_years)
        
        for file in map_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            G = json.load(data)

            for i in G["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appopens = i[1]["appOpens"]
                columns6["Districts"].append(district)
                columns6["RegisteredUser"].append(registereduser)
                columns6["AppOpens"].append(appopens)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

map_user = pd.DataFrame(columns6)

map_user["States"] = map_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["States"] = map_user["States"].str.replace("-"," ")
map_user["States"] = map_user["States"].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [9]:
#top_insurance
path6 = "C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/top/insurance/country/india/state/"

top_insur_list = os.listdir(path6)

columns7 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_insur_list:
    cur_states = path6+state+"/"
    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_years = cur_states+year+"/"
        top_file_list = os.listdir(cur_years)

        for file in top_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            H = json.load(data)

            for i in H["data"]["districts"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns7["Pincodes"].append(entityName)
                columns7["Transaction_count"].append(count)
                columns7["Transaction_amount"].append(amount)
                columns7["States"].append(state)
                columns7["Years"].append(year)
                columns7["Quarter"].append(int(file.strip(".json")))

top_insur = pd.DataFrame(columns7)


top_insur["States"] = top_insur["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insur["States"] = top_insur["States"].str.replace("-"," ")
top_insur["States"] = top_insur["States"].str.title()
top_insur['States'] = top_insur['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [10]:
#top_transaction

path7="C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/top/transaction/country/india/state/"

top_tran_list=os.listdir(path7)

columns8 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_tran_list:
    cur_states=path7 + state + "/"
    top_year_list=os.listdir(cur_states)

    for year in top_year_list:
        cur_year= cur_states + year + "/"
        top_file_list=os.listdir(cur_year)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')
            I=json.load(data)

            for i in I["data"]["districts"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns8["Pincodes"].append(entityName)
                columns8["Transaction_count"].append(count)
                columns8["Transaction_amount"].append(amount)
                columns8["States"].append(state)
                columns8["Years"].append(year)
                columns8["Quarter"].append(int(file.strip(".json")))

top_transaction=pd.DataFrame(columns8)


top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [11]:
#top_user

path8='C:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/data/top/user/country/india/state/'

top_user_list=os.listdir(path8)

columns9 = {"States":[], "Years":[], "Quarter":[],"Pincodes":[], "RegisteredUser":[]}

for state in top_user_list:
    cur_states=path8 + state + '/'
    top_year_list=os.listdir(cur_states)

    for year in top_year_list:
        cur_year= cur_states + year + "/"
        top_file_list=os.listdir(cur_year)

        for file in top_file_list:
            cur_file=cur_year+file
            data=open(cur_file,'r')
            J=json.load(data)

            for i in J["data"]["districts"]:
                Districts=i['name']
                RegisteredUser=i['registeredUsers']
                columns9['Pincodes'].append(Districts)
                columns9["RegisteredUser"].append(RegisteredUser)
                columns9['States'].append(state)
                columns9['Years'].append(year)
                columns9['Quarter'].append(int(file.strip(".json")))

top_user=pd.DataFrame(columns9)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [12]:
#Table Creation
#mysql connection

mydb = mysql.connector.connect(
    username='root',
    host="localhost",
    password="Gopi2708",
    database='phonepe')

cursor = mydb.cursor()

In [13]:
#aggregated insurance table
create_query1= '''CREATE TABLE if not exists aggregated_insurance (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Insurance_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cursor.execute(create_query1)
mydb.commit()


insert_query1 = '''INSERT INTO aggregated_insurance (States, Years, Quarter, Insurance_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''

data=aggre_insurance.values.tolist()

cursor.executemany(insert_query1,data)

mydb.commit()

In [14]:
#aggregated transaction table
create_query2 = '''CREATE TABLE if not exists aggregated_transaction (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Transaction_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cursor.execute(create_query2)
mydb.commit()

insert_query2 = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
data=agg_transaction.values.tolist()

cursor.executemany(insert_query2,data)
mydb.commit()

In [15]:
#aggregated_user_table
create_query3 = '''CREATE TABLE if not exists aggregated_user (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                Transaction_count bigint,
                                                                Percentage float)'''
cursor.execute(create_query3)
mydb.commit()


insert_query3 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
data=aggre_user.values.tolist()
cursor.executemany(insert_query3,data)
mydb.commit()

In [16]:
#map_insurance_table
create_query4 = '''CREATE TABLE if not exists map_insurance (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query4)
mydb.commit()


insert_query4 = '''
                INSERT INTO map_insurance (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s) '''

data=map_insurance.values.tolist()
            
cursor.executemany(insert_query4,data)
mydb.commit()

In [17]:

#map_transaction_table
create_query5 = '''CREATE TABLE if not exists map_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query5)
mydb.commit()


insert_query5 = '''
                INSERT INTO map_Transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)'''

data=map_transaction.values.tolist()
            
cursor.executemany(insert_query5,data)
mydb.commit()

In [18]:
#map_user_table
create_query6 = '''CREATE TABLE if not exists map_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Districts varchar(50),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''
cursor.execute(create_query6)
mydb.commit()

insert_query6 = '''INSERT INTO map_user (States, Years, Quarter, Districts, RegisteredUser, AppOpens)
                    values(%s,%s,%s,%s,%s,%s)'''

data=map_user.values.tolist()
            
cursor.executemany(insert_query6,data)
mydb.commit()

In [19]:
#top_insurance_table
create_query7 = '''CREATE TABLE if not exists top_insurance (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query7)
mydb.commit()


insert_query7 = '''INSERT INTO top_insurance (States, Years, Quarter, pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    
data=top_insur.values.tolist()
            
cursor.executemany(insert_query7,data)
mydb.commit()

In [20]:
#top_transaction_table
create_query8 = '''CREATE TABLE if not exists top_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query8)
mydb.commit()

insert_query8 = '''INSERT INTO top_transaction (States, Years, Quarter, pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
data = [tuple(row) for row in top_transaction.values]
cursor.executemany(insert_query8,data)
mydb.commit()

In [21]:

#top_user_table
create_query9 = '''CREATE TABLE if not exists top_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        pincodes varchar(50),
                                                        RegisteredUser bigint
                                                        )'''
cursor.execute(create_query9)
mydb.commit()


insert_query9 = '''INSERT INTO top_user (States, Years, Quarter, pincodes, RegisteredUser)
                                            values(%s,%s,%s,%s,%s)'''

# Convert DataFrame to list of tuples
data = [tuple(row) for row in top_user.values]

cursor.executemany(insert_query9,data)
mydb.commit()

In [22]:
# Specify the root directory for the PickleShare database
root_directory = 'c:/Users/nkn05/OneDrive/Desktop/Phonepe/pulse/default_db/'

# Create or open a PickleShare database with the specified root directory
db = PickleShareDB(root=root_directory)

#stored_aggre_insurance

db['aggre_insurance']=aggre_insurance

#stored_agg_transaction
db['agg_transaction']=agg_transaction

#stored_agg_user
db['aggre_user']=aggre_user

#stored_map_insurance
db['map_insurance']=map_insurance

#stored_map_transaction
db['map_transaction']=map_transaction

#stored_map_user
db['map_user']=map_user

#stored_top_insurance
db['top_insur']=top_insur

#stored_top_transaction
db['top_transaction']=top_transaction

#stored_top_user
db['top_user']=top_user